a {
  text-decoration: none;
}

h2, h3 {
  font-size: 24px;
}

h4 {
  font-size: 16px;
}

p {
  font-size: 15px;
  line-height: 1.5;
  text-align: justify;
}

p a, div a {
  color: darkgray;
}

button a {
  color: #00aced;
}

.follow-button {
  border-radius: 2.5%;
  text-decoration: none;
}

.form {
  margin: 0 auto;
  margin-top: 30px;
  max-width: 500px;
  min-width: 150px;
  width: 100%;
}

.footer {
  bottom: 0;
  font-size: 14px;
  padding: 70px 0;
  margin-top: 45px;
  text-align: center;
}

.full-width {
  width: 100%;
}

.header {
  background-image: url('../assets/Cover.png');
  background-size: cover;
  border-bottom: darkgray solid 1px;
  height: 280px;
  margin-top: 64px;
  padding: 30px 0;
  width: 100%;
  z-index: 1;
}

  .header button {
    background: #fff;
  }

  .header-content {
    display: block;
    text-align: center;
  }

  .header-image {
    background-image: url('../assets/Perfil.jpg');
    background-size: cover;
    border: 3px solid #fff;
    display: block;
    height: 120px;
    margin: auto;
    width: 120px;
  }

.icon {
  font-size: 40px;
  height: 40px;
  width: 40px;
}

.link {
  color: darkgray;
}

.logo {
  display: block;
  margin: 20px auto;
  margin-bottom: 0;
}

.nav {
  top: 0;
  position: fixed;
  z-index: 3;
}

  .nav-option {
    color: #fff;
  }

.nav-2 {
  display: none;
}

  .nav-2-button {
    font-size: 21px;
  }

  /deep/ .mat-menu-content {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

    .nav-2-option {
      background: #c2185b;
    }

      .nav-2-option a {
        color: #fff;
      }
  
.resume {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

  .resume-type {
    display: block;
    margin: 7.5px 0;
    transition: margin 0.5s ease-out;
  }
  
    .resume-type:hover {
      font-weight: bold;
      margin-top: 2.5px;
    }

.section {
  margin: 0 auto;
  margin-top: 45px;
  max-width: 55%;
  padding-bottom: 50px;
  z-index: 2;
}

.spacer {
  flex: 1 1 auto;
}

@media only screen and (max-width: 600px) {
  h3 {
    font-size: 20px;
    margin: 10px 0;
  }

  .nav-1 {
    display: none;
  }

  .nav-2 {
    display: flex;
  }

  .section {
    max-width: 80%;
  }
}

@media only screen and (max-width: 400px) {
  .header {
    padding-bottom: 50px;
  }
} 